
<ion-view view-title="Seu Perfil">
    <ion-content ng-class="expanded">
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ng-click="vm.openEditarEndereco()" class="tab-item">
                <i class="icon ion-edit"></i> Editar Endereço
            </a>
            <a ng-click="vm.openMudarSenha()" class="tab-item">
                <i class="icon ion-android-people"></i> Mudar Senha
            </a>
            <a ui-sref="app.localizacao" class="tab-item">
                <i class="icon ion-map"></i> Localização Do Procon
            </a>
        </div>
        <h4 class="content padding double-padding-x">Ranking de Empresas</h4>
    </ion-content>
</ion-view>